1 VERSIONINFO
FILEVERSION	1,0,0,0
PRODUCTVERSION	1,0,0,0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "FileDescription", "Pixel art editor"
			VALUE "FileVersion", "1.0"
			VALUE "InternalName", "PixPaint"
			VALUE "LegalCopyright", "Marvin Manese"
			VALUE "OriginalFilename", "PixPaint.exe"
			VALUE "ProductName", "PixPaint"
			VALUE "ProductVersion", "1.0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		Value "Translation", 0x809, 1252
	END
END
